// font
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

// Default styling
:root {
  --primaryColor: hsl(94, 80%, 26%);
  --hoverColor: hsl(21, 71%, 49%);
  --paleGreen: hsl(100, 27%, 57%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --darkColor: hsl(0, 0%, 0%);
  --greyText: hsl(0, 0%, 75%);
  --bgColor: hsl(113, 11%, 85%);
  --inputColor: hsl(0, 0%, 93%);

  /*Font and Typograph*/
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
}

// give flex for center
.flex {
  display: flex;
  align-items: center;
}
.grid {
  display: grid;
  align-items: center;
  gap: 1.5rem;
}

html {
  font-size: 90%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
.icon {
  font-size: var(--h2FontSize);
  cursor: pointer;
}

img,
video {
  height: auto;
  width: 100%;
}

.message {
  display: none;
}

.showMessage {
  display: block;
  color: var(--whiteColor);
  background: rgb(45, 176, 12);
  padding: 10px;
  border-radius: 3px;
  text-align: center;
}

.showMessage {
  display: block;
  color: var(--whiteColor);
  background: rgb(45, 176, 12);
  border-radius: 3px;
  text-align: center;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 0.8rem 1rem;
  color: var(--darkColor);
}

.btn .icon {
  margin-left: 0.5rem;
}

.btn .icon {
  color: var(--whiteColor);
  background: var(--greyText);
}
.btn:hover {
  background: var(--hoverColor);
  color: var(--whiteColor);
}

// Pages
.registerPage {
  height: 100vh;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 7px 50px rgb(214, 223, 213);

  .container {
    height: 75vh;
    width: 60;
    margin: auto;
    justify-content: space-between;
    border-radius: 10px;
    background: hsl(0, 0%, 91%);
  }

  .videoDiv {
    display: flex;
    border-radius: 10px;
    flex-basis: 50%;
    position: relative;
    width: 70%;
    height: 100%;
    padding: 0 1.5rem;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    overflow: hidden;

    video,
    .footerDiv {
      position: absolute;
    }
    video {
      height: 100%;
      width: 100%;
      object-fit: cover;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
    .textDiv {
      position: relative;
      .title {
        color: var(--whiteColor);
        font-size: 35px;
        font-weight: 800;
      }
      .p {
        color: var(--whiteColor);
        padding: 1rem;
        font-weight: 400;
      }
    }

    .footerDiv {
      background: rgba(255, 255, 255, 0.248);
      border-radius: 10px;
      bottom: 10px;
      padding: 0 1rem;
      height: 60px;
      right: 10px;
      left: 10px;
      justify-content: space-between;
      /* Standard syntax */
      backdrop-filter: blur(10px);
      /* Vendor prefixes */
      -webkit-backdrop-filter: blur(10px); /* Safari 9+, Safari on iOS 9+ */

      .text {
        color: var(--whiteColor);
      }

      .btn {
        background: var(--whiteColor);
        color: var(--greyText);
        border-radius: 10px;
        columns: var(--primaryColor);
        padding: 0.8rem 1.5rem;
        font-weight: 400;
        transition: 0.3s ease;

        &:hover {
          background: var(--hoverColor);
          color: var(--whiteColor);
        }
      }
    }
  }

  .formDiv {
    flex-direction: column;
    flex-basis: 50%;
    margin: auto;

    .headerDiv {
      text-align: center;
      padding: 0.5rem 0;

      img {
        width: 100px;
      }
      h3 {
        font-size: 25px;
        color: var(--darkColor);
        font-weight: 600;
      }
    }

    .form {
      gap: 0.5rem;

      .inputDiv {
        .icon {
          color: var(--greyText);
        }

        input {
          background: none;
          outline: none;
          border: none;
          width: 200px;
        }

        label {
          color: var(--darkColor);
          padding: 0.5rem 0;
          font-weight: 400;
          font-size: 14px;
          display: block;
        }

        .input {
          gap: 0.5rem;

          background: var(--inputColor);
          border-radius: 10px;
          padding-bottom: 0.5rem;
        }
      }

      .btn {
        padding: 0.8rem;
        background: var(--greyText);
        align-items: center;
        border-radius: 10px;
        color: var(--whiteColor);
        margin: auto;
        justify-content: center;
        font-size: 16px;
        width: 100%;
        gap: 0.5rem;
        transition: 0.3s ease;

        .icon {
          font-size: 25px;
          transition: 0.3s ease;
        }

        &:hover {
          background: var(--hoverColor);
          color: var(--whiteColor);

          .icon {
            color: var(--whiteColor);
            background: var(--hoverColor);
            transform: translateX(5px);
          }
        }
      }

      .forgotPassword {
        font-size: 13px;
        color: var(--darkColor);
        opacity: 0.7;
        text-align: center;

        a {
          text-decoration: underline;
          cursor: pointer;
          opacity: 1;
        }
      }
    }
  }
}
