
*{
  font-family: 'Sansita', sans-serif;
}
/* Styles for the parent container of the RegisterPage component */
.register-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* Styles for the form container */
.register-form-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* Styles for the labels */
.register-form-container label {
  font-weight: bold;
}

/* Styles for the input fields */
.register-form-container input {
  width: 300px;
  height: 30px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Sansita", sans-serif;
  font-size: 16px;
}

/* Styles for the Register button */
.register-form-container button {
  width: 150px;
  height: 40px;
  background-color: #028151;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Sansita", sans-serif;
  font-size: 20px;
}
/* Hover effect for the Register button */
.register-form-container button:hover {
  background-color: #000;
}
/* Additional styles for spacing and layout, adjust as needed */
.register-form-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Styles for desktop view, adjust as needed */
@media (min-width: 768px) {
  .register-container {
    padding: 50px;
  }

  .form-and-image-container {
    align-items: center;
  }

  .register-form-container {
    width: 350px;
  }

  .register-form-container input {
    width: 100%;
  }
}

/* Styles for the image */
.register-container img {
  /* max-width: 985px; */
  max-width: 900px;
  max-height: 1026px;
  width: 100%;
  height: auto;
}

/* flex: 1;
display: flex;
justify-content: flex-end;
align-items: flex-start; */

