
*{
    font-family: 'Sansita', sans-serif;
  }
  /* Styles for the parent container of the RegisterPage component */
  .login-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  /* Styles for the form container */
  .login-form-container {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  
  /* Styles for the labels */
  .login-form-container label {
    font-weight: bold;
  }
  
  /* Styles for the input fields */
  .login-form-container input {
    width: 300px;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Sansita", sans-serif;
    font-size: 16px;
  }
  
  /* Styles for the Register button */
  .login-form-container button {
    width: 150px;
    height: 40px;
    background-color: #028151;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Sansita", sans-serif;
    font-size: 20px;
  }
  /* Hover effect for the Register button */
    .login-form-container button:hover {
    background-color: #000;
  }
  
  /* Additional styles for spacing and layout, adjust as needed */
  .login-form-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Styles for desktop view, adjust as needed */
  @media (min-width: 768px) {
    .login-container {
      padding: 50px;
    }
  
    .login-form-container {
      width: 400px;
    }
  
    .login-form-container input {
      width: 350px;
    }
  
    .login-form-container button {
      width: 200px;
    }
  }
  
  /* Styles for the image */
  .login-container img {
    max-width: 985px;
    max-height: 1026px;
    width: 100%;
    height: auto;
  }
